body {
	font-family: 'Muli', sans-serif;
}

#basic-info {
	display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 8%;
}

#basic-info #name-email {
	text-align: center;
}

#basic-info #name-email h2 {
	font-weight: normal;
	color: rgb(50, 50, 50);
}

#basic-info #contact-info {
	text-align: center;
    width: 100%;
}

#basic-info a {
	font-size: 16px;
	text-decoration: none;
	color: rgb(50, 50, 50);
	padding: 0px 25px;
}

#basic-info a:hover {
	color: rgba(50, 50, 50, 0.5);
}
