body {
	font-family: 'Muli', sans-serif;
	background: rgb(0, 39, 104);
	height: 95vh;
}

h2, a {
	color: rgb(230, 230, 230);
}

#main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#contact-info {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#contact-info a {
	text-decoration: none;
}

#contact-info a:hover {
	color: rgba(230, 230, 230, 0.5);
}
